<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.title }}</title>
    <link rel="stylesheet" href="/static/css/video.css">
</head>
<body class="theme-dark-blue">
    <div class="video-container">
        <div class="video-header">
            <a href="{{ url_for('index') }}" class="back-button">Back to Home</a>
        <!-- Theme Selector -->
        <div class="theme-selector">
            <label for="theme-select">Choose a theme:</label>
            <select id="theme-select">
                <option value="theme-dark-blue">Dark Blue</option>
                <option value="theme-light">Light</option>
                <option value="theme-dark">Dark</option>
                <option value="theme-ocean">Ocean</option>
                <option value="theme-sunset">Sunset</option>
                <option value="theme-forest">Forest</option>
                <option value="theme-midnight">Midnight</option>
                <option value="theme-candy">Candy</option>
                <option value="theme-cyberpunk">Cyberpunk</option>
                <option value="theme-retro">Retro</option>
            </select>
        </div>
    </div>
        <div class="video-wrapper">
            <video id="videoPlayer">
                <source src="/static/upload/{{ video.filename }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        <div class="video-controls">
            <div class="control-buttons">
                <button onclick="togglePlay()">▶/⏸</button>
                <button onclick="rewind()">⏪ 10s</button>
                <div class="progress-bar" onclick="seek(event)">
                    <div class="progress-bar-filled" id="progressBar"></div>
                </div>
                <input type="range" id="volumeSlider" min="0" max="1" step="0.05">
                <button onclick="forward()">10s ⏩</button>
                <button onclick="goFullscreen()" class="fullscreen-button">⛶</button>
            </div>
        </div>
    </div>
        <h2>{{ video.title }}</h2>
        <!--

        для будущего использования

        <div class="next-video">
    {% if videos %}
        {% for video in videos %}
            <h3>Next Video: <a href="{{ url_for('video', video_id=video.id) }}">{{ video.title }}</a></h3>
        {% endfor %}
    {% else %}
        <p>No next videos available.</p>
    {% endif %}
</div>
-->
    <script src="/static/js/video.js"></script>
    <script src="/static/js/videos.js"></script>
    <script src="/static/js/pleir.js"></script>
    <script src="/static/js/videoss.js"></script>
</body>
</html>